.kotak {
	width: 1000px;
	height: 300px;
	/* background-color: aqua; */
	margin: 140px auto;
	border: 10px;
}
.kotak-user {
	width: 200px;
	height: 200px;
	/* background-color: aqua; */
	/* margin: 140px auto; */
	border: 10px;
}

.bg-loginn {
	background-color: rgb(111, 136, 148);
	color: #f4f5fd;
}

.bg-gradient-color {
	background-image: linear-gradient(195deg, #538b82, #538b82);
}
.borderhij {
	background-image: linear-gradient(195deg, #538b82, #538b82);
}

.btnhijau {
	background-image: linear-gradient(195deg, #538b82, #538b82);
}
